<% provide(:title, 'Events') %>

<div class="events">
  <div class='container'>
    
    <h1>events.</h1>
    
    <div class='row'>
      
      <div class='col-xs-4'>
        <h2>mehndi.</h2>
        <h3>Friday, <br>August 7th</h3>
        <p>A fun filled pre-wedding celebration full of vibrant colors, laughter and dancing.</p>
      </div>
      
      <div class='col-xs-4'>
        <h2>shaadi.</h2>
        <h3>Saturday, <br>August 8th</h3>
        <p>A night owed to two lives <br>becoming one.</p>
      </div>
      
      <div class='col-xs-4'>
        <h2>valima.</h2>
        <h3>Sunday, <br>August 9th</h3>
        <p>A mid afternoon reception <br>commemorating the marriage.</p>
      </div>
      
    </div>

  </div>
</div>