<% provide(:title, 'Stories') %>

<div class='stories'>
  <div class='container'>
  
    <h1>stories.</h1>

    <div class='story'>
      <h2>The time he put a ring on it</h2>
      <p>A walk through the gardens on a beautiful day in May lead to a surprise for Tuba.</p>
    </div>
    
  </div>
</div>