<div class="header">
  <div class="container">
      <a href="#/" class="pull-left logo">Tuba Weds Asif</a>
      <a href="#stories" class="pull-right">Stories</a>
      <a href="#memories" class="pull-right">Memories</a>
      <a href="#events" class="pull-right">Events</a>
      <a href="#rsvp" class="pull-right">RSVP</a>
  </div>
</div>